{% extends "layout.html" %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/assets/tooltipster/css/tooltipster.css" />
{% endblock stylesheets %}
{% block content %}
        <div class="content-wrapper-internal">
            <div class="content">
                <h2 class="content-head is-center">{{'basic_header'|trans}}</h2>
                    {{ form_start(form) }}
                    <h4 class="is-center">{{form_errors(form)}}</h4>
                    <div class="pure-g-r">
                        <div class="l-box pure-u-1 pure-u-med-1 pure-u-lrg-1 is-center">
                            <fieldset class="pure-form pure-form-aligned">
                                {{form_row(form.name,{'attr':{'dir':'rtl','class':'tooltip','title':'name_hint'|trans}})}}
                                {{form_row(form.email,{'attr':{'dir':'ltr','class':'tooltip','title':'email_hint'|trans}})}}                                                                
                                {{form_row(form.tel,{'attr':{'dir':'ltr','class':'tooltip','title':'tel_hint'|trans}})}}
                            </fieldset>                            
                            <fieldset class="pure-form pure-form-aligned">
                                {{form_row(form.site,{'attr':{'dir':'ltr','class':'tooltip','title':'site_hint'|trans}})}}
                                {{form_row(form.date,{'attr':{'dir':'rtl','class':'tooltip','title':'date_hint'|trans}})}}
                                {{form_row(form.secretariat,{'attr':{'dir':'rtl','class':'tooltip','title':'secretariat_hint'|trans}})}}
                            </fieldset>                             
                        </div>                        
                    </div>
                    <div class="pure-g-r">
                        <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-3">
                            <h3 class="content-subhead">
                                <i class="fa fa-th-large">{{'type'|trans}}</i>
                            </h3>
                                {{ form_errors(form.types) }}
                                {% for type in form.types %}
                                    {{form_row(type,{'attr':{'class':'rtl_input'}})}}
                                {% endfor %}
                        </div>
                        <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-3">
                            <h3 class="content-subhead">
                                <i class="fa fa-th-large">{{'category'|trans}}</i>
                            </h3>
                                {{ form_errors(form.types) }}
                                {% for category in form.categories %}
                                    {{form_row(category,{'attr':{'class':'rtl_input'}})}}
                                {% endfor %}
                        </div>
                        <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-3">
                            <h3 class="content-subhead">
                                <i class="fa fa-th-large">{{'location'|trans}}</i>
                            </h3>
                                {{ form_errors(form.types) }}
                                {% for location in form.locations %}
                                    {{form_row(location,{'attr':{'class':'rtl_input'}})}}
                                {% endfor %}
                        </div>              
                    </div>
                    <div class="pure-g-r">
                        <div class="pure-u-1 is-center">
                            <button type="submit" class="pure-button pure-input-1-2">{{'save_basic_event'|trans}}</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
            </div>            
            
        </div>
{% endblock content %}

{% block javascripts %}
    <script type="text/javascript" src="{{ app.request.basepath }}/assets/tooltipster/js/jquery.tooltipster.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.tooltip').tooltipster();
        });
    </script>
{% endblock javascripts %}