{% extends "layout.html" %}

{% block content %}
    <div class="content-wrapper-internal">
        <div class="content">
            <h2 class="content-head is-center">{{'basic_header'|trans}}</h2>
                {{ form_start(form) }}
                <h4 class="is-center">{{form_errors(form)}}</h4>
                <div class="pure-g-r">
                    <div class="l-box pure-u-1 pure-u-med-1 pure-u-lrg-1 is-center">
                        {{form_row(form.content)}}
                    </div>
                </div>
                <div class="pure-g-r">
                    <div class="pure-u-1 is-center">
                        <button type="submit" class="pure-button pure-input-1-2">{{'save_event_content'|trans}}</button>
                    </div>
                </div>
                {{ form_end(form) }}
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script type="text/javascript" src="{{ app.request.basepath }}/assets/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            CKEDITOR.replace( 'form_content', {
                fullPage: true,
                allowedContent: true
            });            
        });
    </script>
{% endblock javascripts %}