{% extends "layout.html" %}
{% block content %}    


    <div class="content-wrapper-internal">
        <div class="content">
            <h2 class="content-head is-center">{{'events_list'|trans}}</h2>
            <div class="pure-g-r">
                <div class="pure-u-1">
                    {% for event in events %}
                        <h3 class="content-head">{{event.subject}} / <small>{{event.date}}</small></h3>
                        <h5 class="content-head">{{event.tweet}}</h5>
                        <a class="pure-button" href="{{ url('event_view',{'id':event.id,'name':event.subject}) }}">{{'more_info'|trans}}</a>
                        <a class="pure-button" href="{{event.site}}" target="_blank">{{'Site'|trans}}</a>                        
                    {% endfor %}
                </div>
                <div class="pure-u-1">
                    {% if pages %}
                        <ul class="pure-paginator is-center">
                            {% for page,name in pages  %}
                                {% if name == 'current' %}
                                    <li><a class="pure-button pure-button-active" href="{{url('events_list',{'page':page})}}">{{page}}</a></li>
                                {% elseif name == 'next' %}
                                    <li><a class="pure-button" href="{{url('events_list',{'page':page})}}">{{page}}</a></li>
                                {% elseif name == 'last' %}
                                    <li><a class="pure-button next" href="{{url('events_list',{'page':page})}}">&#187;</a></li>                                    
                                {% elseif name == 'previous' %}
                                    <li><a class="pure-button prev" href="{{url('events_list',{'page':page})}}">{{page}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>            
            </div>
        </div>        
    </div>   

{% endblock content %}

{% block javascripts %}
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "e71ea2ac-07d5-4c29-a541-09569f6a0e0d", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
{% endblock javascripts %}
