{% extends "layout.html" %}
{% block content %}    
    <div class="content-wrapper-internal">
        <div class="content">
            <h2 class="content-head is-center">{{title}}</h2>
            <div class="pure-g-r">
                <div class="pure-u-3-4">
                    {{content|raw}}
                </div>            
                <div class="pure-u-1-4">
                    {% if tweet is not null%}
                        {{'Tweet'|trans}}
                        <hr>
                        {{tweet}}
                        <br><br>
                    {% endif %}
                    {% if site is not null%}
                        {{'Site'|trans}}
                        <hr>
                        <a href='{{site}}' target="_blank" style="float: left;">{{site}}</a><br><br>
                    {% endif %}
                    {% if date is not null%}
                        {{'Date'|trans}}
                        <hr>
                        {{date}}
                        <br><br>
                    {% endif %}                    
                    {% if secretariat is not null%}
                        {{'Secretariat'|trans}}
                        <hr>
                        {{secretariat}}
                        <br><br>
                    {% endif %}
                    {{'Social'|trans}}
                    <hr>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_googleplus_large' displayText='Google +'></span>
                    <span class='st_linkedin_large' displayText='LinkedIn'></span>
                    <span class='st_email_large' displayText='Email'></span>
                </div>
            </div>
        </div>
    </div>    
    <table class="body-wrap">
        <tr>
                <td></td>
                <td class="container">

                        <!-- content -->
                        <div class="content">
                        <table>
                                <tr>
                                        <td>
                                            {{content|raw}}
                                        </td>
                                </tr>
                        </table>
                        </div>
                        <!-- /content -->

                </td>
                <td></td>
        </tr>
    </table>
{% endblock content %}

{% block javascripts %}
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "e71ea2ac-07d5-4c29-a541-09569f6a0e0d", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
{% endblock javascripts %}
