{% extends "layout.html" %}

{% block content %}
        <div class="splash-container">
            <div class="splash">
                <p class="splash-head">
                    {{'index_header'|trans}}
                </p>
                
                <form class="pure-form splash-subhead" id="subscribe">
                    <fieldset>
                        {{ form_widget(form.email,{'attr':    {'dir':'ltr','placeholder':'Email','oninvalid':'setCustomValidity("Plz enter on Alphabets ")'}}) }}
                        {{form_widget(form._token)}}
                        <button type="button" class="pure-button pure-button-primary">{{'subscribe'|trans}}</button>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="content">
                <h2 class="content-head is-center">{{'what_is_going'|trans}}</h2>

                <div class="pure-g-r">
                    <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">
                        <h3 class="content-subhead">
                            <i class="fa fa-th-large"></i>
                            {{'what_is_eventum'|trans}}
                        </h3>
                        <p>
                            {{'what_is_eventum_t1'|trans}}
                            <br>
                            {{'what_is_eventum_t2'|trans}}
                        </p>
                    </div>
                    <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">
                        <h3 class="content-subhead">
                            <i class="fa fa-th-large"></i>
                            {{'filters'|trans}}
                        </h3>
                        <p>
                            {{'filters_t1'|trans}}
                        </p>
                    </div>
                    <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">
                        <h3 class="content-subhead">
                            <i class="fa fa-th-large"></i>
                            {{'ads'|trans}}
                        </h3>
                        <p>
                            {{'ads_t1'|trans}}
                        </p>
                    </div>                    
                    <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">
                        <h3 class="content-subhead">
                            <i class="fa fa-th-large"></i>
                            {{'how_to_help'|trans}}
                        </h3>
                        <p>
                            {{'how_to_help_t1'|trans}}
                            <br>
                            {{'how_to_help_t2'|trans}}
                        </p>
                    </div>                                        
                </div>
            </div>            
            <div class="ribbon l-box-lrg pure-g" id="test">
                <div class="pure-u-1 pure-u-med-1-2 pure-u-lrg-3-5">

                    <h2 class="content-head content-head-ribbon">
                        {{'i_am_event_holder'|trans}}
                    </h2>

                    <p>
                        {{'i_am_event_holder_t1'|trans}}
                        <br>
                        {{'i_am_event_holder_t2'|trans}}
                        
                        <br>
                        {{'i_am_event_holder_t3'|trans}}
                    </p>
                </div>
                <div class="l-box-lrg is-center pure-u-1 pure-u-med-1-2 pure-u-lrg-2-5">
                    <img class="pure-img-responsive" alt="File Icons" width="300" src="assets/img/layout.png">
                </div>                
            </div>        
           
            <div class="content">
                <h2 class="content-head is-center">{{'keep_us_alive'|trans}}</h2>

                <div class="pure-g">
                    <div class="l-box-lrg pure-u-1 pure-u-med-2-5">
                        <h3>{{'about_title'|trans}}</h3>
                        <p>
                            {{'about_t1'|trans}}
                            <br>
                            {{'about_t2'|trans}}
                        </p>
                    </div>

                    <div class="l-box-lrg pure-u-1 pure-u-med-3-5">
                        <h4>{{'help_us'|trans}}</h4>
                        <p>
                            {{'help_us_t1'|trans}}
                            <br>
                            {{'help_us_t2'|trans}}
                        </p>
                        <div class="pure-g-r">
                            <div class="l-box pure-u-1-2">
                                <script language="javascript" type="text/javascript" src="http://www.parspal.com/xContext/Component/Buttons/?UI=35ba3ad6430341e8805fc213ff1c08bd&amp;BID=21907&amp;AID=412A33AE14746612317B013DC23213CD79B5F3F3&amp;Mode=1"></script>
                            </div>
                            <div class="l-box pure-u-1-2">
                                <a class="coinbase-button" data-code="dd7f62cdb5dae6c9c990cbb3fc732e51" data-button-style="donation_large" href="https://coinbase.com/checkouts/dd7f62cdb5dae6c9c990cbb3fc732e51">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
                            </div>
                        </div>
                        <h4>{{'contact_me'|trans}}</h4>
                        <p>
                            {{'contact_me_t1'|trans}}
                        </p>
                    </div>
                </div>

            </div>

        </div>
        
{% endblock content %}