<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A layout example that shows off a responsive product landing page.">

        <title>{{'title'|trans}}</title>

        <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/pure/pure-min.css">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/main-grid-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/main-grid.css">
        <!--<![endif]-->


        <!--[if lte IE 8]>
            <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/layouts/marketing.css">
        <!--<![endif]-->

        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="http://ifont.ir/apicode/38">
        <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/custom.css">

        {% block stylesheets %}
        {% endblock %}   

    </head>
    <body>
        <div class="header">
            <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">

                <ul>
                    <li><a href="{{ url('homepage') }}">{{'homepage'|trans}}</a></li>
                    <li><a href="{{ url('event_basic') }}">{{'new_event'|trans}}</a></li>
                </ul>
            </div>
        </div>
        {% block content %}
        
        {% endblock %}
    <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/libs/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/subscribe.js"></script>
    <script src="http://yui.yahooapis.com/3.14.1/build/yui/yui.js"></script>    
    {% block javascripts %}
    {% endblock %}            
    <script>
    YUI().use('node-base', 'node-event-delegate', function (Y) {
        // This just makes sure that the href="#" attached to the <a> elements
        // don't scroll you back up the page.
        Y.one('body').delegate('click', function (e) {
            e.preventDefault();
        }, 'a[href="#"]');
    });
    </script>

    </body>
</html>
