{% extends "layout.html" %}

{% block content %}
        <div class="content-wrapper-internal">
            <div class="content">
                <h2 class="content-head is-center">{{'unsubscribe_header'|trans}}</h2>
                <div class="pure-g-r">
                    <div class="l-box pure-u-1 pure-u-med-1-1 pure-u-lrg-1-1 is-center">
                        <p>{{'unsubscribe_text'|trans}}</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}