body{
    direction: rtl;
    font-family: "B yekan","IranianSans","Helvetica Neue", Helvetica, Arial, sans-serif;
}
.rtl_input{
    float:right;
}
#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}