{% extends "mailer/layout.html" %}

{% block content %}
    <p>{{'mailer.event.say_hello'|trans}}</p>
    <p>{{'mailer.event.say_thanks'|trans}}</p>
    <p>{{'mailer.event.say_please_share'|trans}}</p>
    <p>{{'mailer.event.introduce_event_url'|trans}}</p>
    <table>
        <tr>
            <td class="padding">
                <p><a href="{{ url('event_basic',{'id':id,'code':code}) }}" class="btn-primary">{{'mailer.event.basic_btn'|trans}}</a></p>
            </td>
        </tr>
    </table>
    <br>
    <a style="float: left;" href='{{ url('event_basic',{'id':id,'code':code}) }}'>{{ url('event_basic',{'id':id,'code':code}) }}</a>
    <br>
    <p>{{'mailer.need_help'|trans}}</p>
{% endblock content %}