{% extends "mailer/mail_layout.html" %}

{% block content %}
    {{'mailer.event.say_hello'|trans}}
    <br><br>
    {{'mailer.event.say_thanks'|trans}}
    <br><br>
    {{'mailer.event.say_please_share'|trans}}
    <br><br>
    <img src="http://eventum.ir/assets/img/eventum.png">
    <br><br>
    {{'mailer.event.introduce_event_url'|trans}}
    <br><br>
    <a style="float: left;" href='{{ url('event_basic',{'id':id,'code':code}) }}'>{{ url('event_basic',{'id':id,'code':code}) }}</a>
    <br><br>
    {{'mailer.need_help'|trans}}
{% endblock content %}