{% extends "mailer/mail_layout.html" %}

{% block content %}
    {{'mailer.setting.say_hello'|trans}}
    <br>
    {{'mailer.setting.say_thanks'|trans}}
    <br>    
    {{'mailer.setting.say_please_share'|trans}}
    <br>
    {{'mailer.setting.introduce_setting_url'|trans}}
    <br>
    <a href='{{ url('setting',{'id':id,'code':code}) }}'>{{ url('setting',{'id':id,'code':code}) }}</a>
    <br>
    {{'mailer.setting.introduce_unsubscribe_url'|trans}}
    <br>
    <a href='{{ url('unsubscribe',{'id':id,'code':code}) }}'>{{ url('unsubscribe',{'id':id,'code':code}) }}</a>
    <br>
    {{'mailer.need_help'|trans}}
{% endblock content %}