{% extends "mailer/mail_layout.html" %}

{% block content %}
    {{'mailer.setting.say_hello'|trans}}
    <br>
    {{'mailer.setting.say_thanks'|trans}}
    <br>    
    {{'mailer.setting.say_please_share'|trans}}
    <br>
    {{'mailer.setting.introduce_setting_url'|trans}}
    <br>
    <a href='{{setting_url}}'>{{setting_url}}</a>
    <br>
    {{'mailer.setting.introduce_unsubscribe_url'|trans}}
    <br>
    <a href='{{unsubscribe_url}}'>{{unsubscribe_url}}</a>
    <br>
    {{'mailer.need_help'|trans}}
{% endblock content %}