{% extends "mailer/layout.html" %}

{% block content %}
    <p>{{'mailer.setting.say_hello'|trans}}</p>
    <p>{{'mailer.setting.say_thanks'|trans}}</p>
    <p>{{'mailer.setting.say_please_share'|trans}}</p>
    <p>{{'mailer.setting.introduce_setting_url'|trans}}</p>
    <table>
        <tr>
            <td class="padding">
                <p><a href="{{ url('setting',{'id':id,'code':code}) }}" class="btn-primary">{{'mailer.setting.setting_btn'|trans}}</a></p>
            </td>
        </tr>
    </table>
    <br>
    <a style="float: left;" href='{{ url('setting',{'id':id,'code':code}) }}'>{{ url('setting',{'id':id,'code':code}) }}</a>
    <br>
    
    <p>{{'mailer.setting.introduce_unsubscribe_url'|trans}}</p>
    <br>
    <a style="float: left;" href='{{ url('unsubscribe',{'id':id,'code':code}) }}'>{{ url('unsubscribe',{'id':id,'code':code}) }}</a>
    <br>
    <p>{{'mailer.need_help'|trans}}</p>
{% endblock content %}